@import "tailwindcss";

@theme {
  --color-primary-50: #f0fdfa;
  --color-primary-100: #ccfbf1;
  --color-primary-500: #14b8a6;
  --color-primary-600: #0d9488;
  --color-primary-700: #0f766e;
  --color-primary-900: #134e4a;

  --color-dark-900: #0f172a;
  --color-dark-800: #1e293b;
  --color-dark-700: #334155;

  --font-sans: 'Inter', sans-serif;
}

@layer base {
  body {
    background-color: var(--color-slate-50);
    color: var(--color-slate-900);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer utilities {
  .glass-panel {
    @apply bg-white/80 backdrop-blur-md border border-white/40 shadow-xl shadow-slate-200/40;
  }

  .bg-mesh {
    background-color: #fafafa;
    background-image: radial-gradient(at 40% 20%, hsla(177, 100%, 88%, 0.3) 0px, transparent 50%),
      radial-gradient(at 80% 0%, hsla(189, 100%, 86%, 0.3) 0px, transparent 50%),
      radial-gradient(at 0% 50%, hsla(177, 100%, 88%, 0.3) 0px, transparent 50%);
  }
}